#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  padding: 20px;
}

.title {
  font-size: 46px;
  color: #000000;
  margin-top: 100px;
  text-align: center;
}
