.galleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 140px;
}

.galleryItem {
  width: calc((100% - 3 * 24px) / 4);
  padding: 10px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #000000;
  background-color: floralwhite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.galleryItem:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
